.main-div {
  
  z-Index: 0;
  padding-top: 50;
  margin-left: 0;
  width: '100%';

}

button {
  border: none;
}
button:hover {
  /*border: 1px solid white;*/
  /*border-radius: 6px;*/
  background-color: darkgray;

}
.btn-typo:hover {
  color: #000000!important;
}

.modal-style {
  position: 'absolute';
  margin-top: '50%';
  margin-left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  background-color: 'background.paper';
  border: '2px solid #000';
  box-shadow: 24;
  padding: 4;
  z-Index: 12;
}

.modal-div {
  z-Index: 12;
}